<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onRecipesClicked()">Recipes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onShoppingListClicked()">Shopping list</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Save Data</a> </li>
          <li><a href="#">Fetch Data</a> </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
