<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput/>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            min="0"
            #amountInput/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success margin-right" type="submit" (click)="addIngredient(nameInput,amountInput)">Add</button>
          <button type="button" class="btn btn-danger margin-right">Delete</button>
          <button class="btn btn-primary margin-right" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
