<a href="#" class="list-group-item clearfix" (click)="onRecipeClicked()">
  <div class="float-left">
    <h4>{{recipe.name}}</h4>
    <p>{{recipe.description}}</p>
  </div>
  <span class="float-md-right">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" style="max-height: 50px;"/>
      </span>
</a>
