<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-recipe *ngFor="let recipeItem of recipes"
    [recipe]="recipeItem"
    (recipeSelected)="onRecipeSelected(recipeItem)"></app-recipe>
  </div>
</div>
